{% extends 'base.html.twig' %}

{% block title %}Pacientų registracijos sistema{% endblock %}

{% block js %}
{% endblock %}

{% block body %}

    <h1>Pacientų registracijos sistema (Tema 11c)</h1>

    <p>
        Ši svetainė yra Kauno Technologijos Universiteto modulio - Kompiuterių tinklai ir internetinės technologijos
        (T120B145) IT projekto darbas
    </p>
    <p>
        Užduotis - Pacientų registracijos sistema:
        <ol>
            <li>Administratorius registruoja gydytojus, jų specialybes, darbo laiko tvarkaraščius</li>
            <li>Gydytojas mato uzsiregistravusius pacientus</li>
            <li>Prisiregistravęs vartotojas gali užsirašyti pas gydytoją neužimtu laiku</li>
        </ol>
        Papildomai 9,10:
        <ol>
            <li>Užsirašius automatiškai siunčiama žinutė paciento e-mailu</li>
            <li>Gydytojas gali pasiųsti laisvo teksto žinutę pas jį užsiregistravusiam pacientui</li>
        </ol>
    </p>
    <p>
        Darbą atliko:<br>
        Vilius Grimalauskas
    </p>

{% endblock %}
